<div class="container container-show-custom">

  <div class="row show-row-custom">

    <div class="col-md-8 cols-custom">
      <figure>
        <%= image_tag(@history.picture_url) if @history.picture? %>
      </figure>
    </div>
    <div class="col-md-4 cols-custom">
      <h1><%= @history.title %></h1>
      <h4><%= @history.user.username %></h4>
      <small><%= time_ago_in_words(@history.created_at) %> ago</small>
      <p><%= @history.content %></p>

      <div>
        <p>
          <% if user_signed_in? && (current_user.id == @history.user_id || current_user.admin == true) %>
          <%= link_to 'Editar', edit_history_path(@history), class: "btn btn-editar" %>
          <%= link_to 'Eliminar', @history, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sh-eliminar" %>
          <%= link_to 'Volver', histories_path, class: "btn btn-volver" %>
          <% else %>
          <%= link_to 'Volver', histories_path, class: "btn btn-volver" %>
          <% end %>
        </p>
      </div>

    </div>

  </div>

</div>
